.carousel-item > img{
    height: 500px;
    object-fit: cover;
}
.card > img{
    height: 500px;
    object-fit: cover;
}
.card{
    margin-top: 500px;
}
.item > img{
    height: 500px;
    object-fit: cover;
}
.animate__animated animate__bounce > img{
    height: 500px;
    width: 400px;
    object-fit: cover;
}